<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adarsh Mishra" >
    <meta name="Keywords" content="longshort , long,short,adarsh mishra, harshal kondke, url shortener url shortener google url shortener free url shortener paid sites url shortener algorithm url shortener api url shortener tool url shortener free online url shortener online url shortener aws url shortener app url shortener api free url shortener apk url shortener api google url shortener api nodejs a url shortener design url shortener design a url shortener like bit.ly create url shortener build url shortener how to make a url shortener how does url shortener work a.co url shortener url shortener bitly url shortener by zapier url shortener bypass url shortener by google url shortener bit.do url shortener best url shortener business model url shortener benefits b link url shortener url shortener custom url shortener code url shortener custom name url shortener chrome extension url shortener cuttly url shortener c# url shortener codecanyon url shortener click tracking url shortener code in c c url shortener url shortener design url shortener django url shortener django tutorial url shortener database design url shortener domain finder url shortener design java url shortener decoder url shortener definition url shortener earn money url shortener extension url shortener earn url shortener earn money india url shortener earn money paytm url shortener expander url shortener example url shortener edit link e url shortener url shortener for instagram url shortener free api url shortener for twitter url shortener for youtube url shortener facebook url shortener free google url shortener github url shortener geeksforgeeks url shortener google chrome extension url shortener google api url shortener github python url shortener github java url shortener google sheets g url shortener g suite url shortener g.co url shortener url shortener html template url shortener html code url shortener high cpm url shortener how it works url shortener hash url shortener hootsuite url shortener how to url shortener html h url shortener url shortener in python url shortener instagram url shortener in php url shortener in java url shortener in nodejs url shortener implementation url shortener india url shortener in c# url shortener java url shortener javascript url shortener java example url shortener jobs url shortener java library url shortener java spring boot url shortener jquery url shortener java api j.mp url shortener url shortener keep domain url shortener kubernetes url shortener kya hai url shortener kali linux url shortener kostenlos url shortener api key url shortener website kaise banaye url shortener se paise kaise kamaye url shortener linkedin url shortener link url shortener logic url shortener laravel url shortener login url shortener localhost url shortener leetcode url shortener list l url shortener url shortener microsoft url shortener meaning url shortener money url shortener microsoft teams url shortener microservice url shortener medium url shortener monetize url shortener microservice freecodecamp url shortener nodejs url shortener no ads url shortener npm url shortener node.js mongodb url shortener no preview url shortener name url shortener no registration url shortener no login n url shortener url shortener online free url shortener open source url shortener owly url shortener open source php url shortener online job url shortener own domain url shortener office 365 url shortener python url shortener php url shortener python django url shortener project url shortener paid sites in india url shortener php script url shortener paytm p url shortener url shorten p url shortener qr code url shortener question url shortener query string url shortener quora url shortener que es url shortener interview question google url shortener qr code url shortener design question q es url shortener url shortener reactjs url shortener remover url shortener reddit url shortener react url shortener rick roll url shortener redirect url shortener review url shortener rest api r url shortener r india tech url shortener url shortener system design url shortener site url shortener service url shortener spring boot url shortener software url shortener skipper url shortener self hosted url shortener service design s url shortener url shortener tiny url shortener twitter url shortener tinyurl url shortener template url shortener theme for blogger url shortener telegram bot url shortener tutorial t url shortener t.co url shortener u of t url shortener at&t url shortener t.me url shortener twitter url shortener t.co url shortener using python url shortener using google api url shortener using node js url shortener using java url shortener use cases url shortener using asp net url shortener uk url shortener unlimited url shortener viewer url shortener vulnerabilities url shortener virus url shortener vanity url shortener very short url shortener validity url shortener vba url shortener video v.gd url shortener v ht url shortener url shortener website url shortener wordpress url shortener without ads url shortener with tracking url shortener whatsapp group url shortener working url shortener with custom domain url shortener website earn money url shortener x.co url shortener xss xyz url shortener xing url shortener coulon/go-url-shortener x7z.us url shortener x url shortener url shortener youtube url shortener youtube channel url shortener yandex url shortener yang menghasilkan uang youtube url shortener url shortener yourls url shortener yahoo url shorteners make your own url shortener zoho url shortener za.gl url shortener zapier url shortener zoom znga url shortener zz url shortener zap url shortener zscaler url shortener z url shortener url shortener trackid=sp-006 url shortener top 10 url shortener safari 13 google_url_shortener 1.1.0 url shortener for safari 12 123link-best url shortener top 10 url shortener that pays 123link-best url shortener to earn top 10 url shortener website 1&1 url shortener url shortener 2020 url shortener 2019 best url shortener 2019 best url shortener 2020 top url shorteners 2019 top url shorteners 2018 angular 2 url shortener top 2 url shortener url shortener 301 or 302 url shortener 302 url shortener python 3 top 3 url shortener 30 best url shortener 301 url shortener service google url shortener 403 forbidden google url shortener api 403 forbidden premium url shortener 5.5 premium url shortener 5 premium url shortener 5.7.2 premium url shortener 5.4.3 google_url_shortener rails 5 top 5 url shortener websites premium url shortener 5.6.5 top 5 url shorteners angular 6 url shortener drupal 8 url shortener">
    <meta name="description" content="LongShort is a simple and fast URL Shortner Service which allows you to shorten links from Facebook LinkedIn Youtube Google or any other website. The main aim is to provide free and quality short urls.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
        integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
    <meta name="google-site-verification" content="JyhaLmWJtaSBW2B0bZt1PpatlHmyrMAkls4WNYc_7ro" />
    <meta name="theme-color" content="#ff7700">
    <link rel="icon" href="../public/img/ls.png">
    <title>Url Shortner</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body{
        font-family: 'Montserrat', sans-serif;
    }
    .shorturl a {
        color: green;
    }

    .shortmsg {
        color: red;
    }
    .row-content{
        line-height: 1.8;
        padding: 40px 0;
    }
    .name {
        color: #ff7700;
        font-size: 1.2rem;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-warning" href="#">LongShort</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home fa-s  px-1"></i>Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-info fa-s text-white px-1"></i>About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-donate fa-s text-white px-1"></i>Donate</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="shortmsg text-center"><% if(msg.length > 1 ){%>
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= msg %></strong>
            </div>
            <% } %></div>
        <form id="main" method="POST" class="my-5  ">
            <div class="form-group row align-items-center mb-3">
                <label for="link" class="col-label col-md-2 text-white">
                    <div class="btn btn-google"><i class="fas fa-link fa-s text-warning"></i></div>LINK
                </label>
                <div class="col-md-10"><input type="url" class="form-control" name="url" id="url"
                        placeholder="http://example.com" required></div>
            </div>
            <div class="form-group row align-items-center mb-5">
                <label for="ids" class="col-label col-md-2  text-white">
                    <div class="btn btn-google"><i class="fas fa-location-arrow fa-s text-warning"></i></div>ALIAS
                </label>
                <div class="input-group-prepend col-md-10">
                    <div class="input-group-prepend"><span class="input-group-text">longshort.me/</span>
                    </div>
                    <div><input type="text" class="form-control" name="ids" id='ids' pattern="[A-Za-z0-9_-]*$"  title="Only use A-z , a-z or 0-9 ,_ and -"placeholder="Enter Alias" required>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10"><input type="submit" name="submit"
                        class="btn btn-submit btn-warning"></div>
            </div>

        </form>

        <div class="shorturl text-center">
           <% if(short != ''){%>
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><a href="<%= short %>" target="blank" ><%= short %></a>
            </div>
            <% }%>
            
        </div>
        <div class="row row-content align-items-center">
            <div class="col-md-8 col-sm-12">
                <h2>Why use LongShort ?</h2>
                <p>
                    LongShort is a free URL Shortner service .The main reason to use LongShort is, that it is absoluetly free you don't have to pay a single penny to shorten your url not today nor tommorow. <br>LongShort gives you freedom to choose your own Alias name so that you don't have to remember random alphabets or numbers.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img src="../public/img/0.00 $.svg" alt="0$" class="d-flex mx-auto">
            </div>
        </div>
        <div class="row row-content justify-content-center text-center">
            <div class="col-md-4 my-3">
                <div class="icon"><i class="fa fa-dollar-sign fa-4x text-warning"></i></div>
                <div class="name mt-2">Free</div>
                <div class="description">LongShort provides free lifetime service</div>
            </div>
            <div class="col-md-4 my-3">
                <div class="icon"><i class="fa fa-handshake fa-4x text-warning"></i></div>
                <div class="name mt-2">Reliable</div>
                <div class="description">Your links don't expire</div>
            </div>
            <div class="col-md-4 my-3">
                <div class="icon"><i class="fa fa-location-arrow fa-4x text-warning"></i></div>
                <div class="name mt-2">Custom Alias</div>
                <div class="description">No need to remember random numbers and alphabets</div>
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-md-8 order-last">
                <h2>About LongShort</h2>
                <p>
                    LongShort is a simple and fast URL Shortner Service which allows you to shorten links from Facebook LinkedIn Youtube Google or any other website. The main aim is to provide free and quality short urls.
                    <br>We don't store any user data other than long url.
                </p>
            </div>
            <div class="col-md-4 text-center order-first">
                <img src="../public/img/ls.png" class="d-flex mx-auto img-thumbnail" alt="Logo">
            </div>
        </div>
        <div class="row row-content align-items-center justify-content-center">
            <div class="col-12 text-center"><h4>Buy Team LongShort A Coffee</h4>
                <button class="btn btn-warning btn-lg my-3"><i class="fa fa-donate text-white"></i> Donate</button>
            </div>
        </div>
        <div class="row row-content align-items-center justify-content-around">
            <div class="col-12"><h4>Credits</h4>
                API Created and Managed by <strong ><a class="text-warning" href="https://www.linkedin.com/in/harshalkondke/" target="blank"> Harshal Kondke</a></strong><br>
                WebPage Created and Managed by  <strong ><a class="text-warning" href="https://www.linkedin.com/in/adarsh-mishra-38a6a713a/" target="blank"> Adarsh Mishra</a></strong> <br>
            </div>
        </div>

    </div>
<footer>
    <div class="container">
        <div class="credits text-center mb-3">Copyright &copy; LongShort 2020</div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167891570-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167891570-1');
</script>
</html>
